<div class="relative">
  <div class="grid min-h-[140px] w-full place-items-center overflow-x-scroll rounded-lg  lg:overflow-visible">
    <div role="alert" class="relative block w-full text-base font-regular px-4 py-2 rounded-lg bg-red-500 text-white">
      <div class="">
        <p class="font-bold text-gray-800">
          Tipo de cambio del día
          <span class="text-white">
            {{fechaActual |date:'d/MM/YYYY'}}
          </span>
          la tasa  <span class="text-white">
           Bs {{montoDollar$ |number:'1.2-2'}}
          </span>
        </p>
      </div>
    </div>
  </div>
  <!-- <div>
    <span>Tipo de cambio del día {{fechaActual |date:'d/MM/YYYY'}} a la tasa {{montoDollar$ |number:'1.2-2'}} </span>
  </div> -->
  <div class="mt-4 mb-4">
    <!-- Monto de factura -->
    <!-- <div class="rounded-md bg-blue-50 p-4">
      <div class="flex">
        <div class="flex-shrink-0">
          <svg class="h-5 w-5 text-blue-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a.75.75 0 000 1.5h.253a.25.25 0 01.244.304l-.459 2.066A1.75 1.75 0 0010.747 15H11a.75.75 0 000-1.5h-.253a.25.25 0 01-.244-.304l.459-2.066A1.75 1.75 0 009.253 9H9z" clip-rule="evenodd" />
          </svg>
        </div>
        <div class="ml-3 flex-1 md:flex md:justify-between">
          <p class="text-sm text-blue-700">Monto de factura: <span class="font-semibold">Bs. {{convertidor()}}</span></p>
        </div>
      </div>
    </div> -->
    <div class="  bg-zinc-100 rounded-md my-2">
      <div class="px-8">
        <div class="flex justify-between  py-2 text-gray-600">
          <span>Total de la Factura</span>
          <span class="font-semibold text-gray-700">Bs. {{convertidor() |number:'1.2-2'}}</span>
        </div>
        <div class="flex justify-between  py-2 text-gray-600">
          <span>Total Descuento</span>
          <span class="font-semibold text-gray-700">Bs.  {{convertirBolivares(descuento) |number:'1.2-2'}}</span>
        </div>
        <div class="flex justify-between  border-b py-2 text-gray-600">
          <span>Saldo a Favor</span>
          <span class="font-semibold text-green-700">Bs. {{convertirBolivares(saldoFavor) |number:'1.2-2'}}</span>
        </div>
      </div>
      <div class="font-semibold text-xl px-8 flex justify-between py-4 text-gray-600  ">
        <span>Total a pagar</span>
        <span>Bs.{{calcular()|number:'1.2-2'}}</span>
      </div>
    </div>

    <!-- <h3 class="text-gray-800 text-center font-light mt-4 ">Monto a Pagar</h3> -->
    <div
      class="inline-flex justify-center gap-y-8 items-center border-2 bg-zinc-100 border-red-300 py-2 w-full rounded-lg  shadow-xl ">
      <span class=" text-center text-2xl font-mono font-bold">Bs.{{calcular()|number:'1.2-2'}}</span>
    </div>
    <!-- <button mat-raised-button color="warn" class="w-full">Bs.{{calcular()|number:'1.2-2'}}</button> -->
  </div>
  <div class="sticky top-0 z-10  flex justify-between bg-gray-50">
    <div>
      <mat-checkbox class="ml-3" color="primary" [formControl]="registradas"
        (change)="listaCuentas = registradas.value">Cuentas afiliadas</mat-checkbox>
    </div>
    <div *ngIf="cuentas.length == 0" class="flex items-center">
      <div class="flex items-center">
        Sin cuentas afiliadas
      </div>
    </div>
  </div>
  <div class=" mt-8">

    <ng-container *ngIf="!listaCuentas">

      <form class="space-y-3" [formGroup]="myForm" (submit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Numero Emisor</mat-label>
          <input matInput formControlName="sender" #sender type="text" maxlength="11" pattern="[0-9]*" />
          <mat-icon matPrefix>call</mat-icon>
          <mat-error *ngIf="myForm.controls['sender'].hasError('pattern')" class="text-xs ">
            Solo caracateres númericos
          </mat-error>
          <mat-error class="text-xs" *ngIf="myForm.controls['sender'].hasError('required')">
            El campo Teléfono es <strong>Obligatorio</strong>
          </mat-error>
          <mat-hint align="end" class="text-xs">{{sender.value.length}} /
            11</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Fecha Del Pago</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date" />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Referencia</mat-label>
          <input matInput formControlName="reference" type="text" maxlength="6" pattern="[0-9]*" />
          <mat-icon matPrefix>tag</mat-icon>
          <mat-hint class="text-xs ">Ultimo 6 digitos</mat-hint>
          <mat-error *ngIf="myForm.controls['sender'].hasError('pattern')" class="text-xs ">
            Solo caracateres númericos
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Monto Pagado</mat-label>
          <input matInput formControlName="amount" type="number" />
          <button mat-icon-button matSuffix [attr.aria-label]="'Enviar Pago'" [attr.aria-pressed]="true" color="warn"
            [disabled]="myForm.invalid || !botonHabilitado">
            <mat-icon>send</mat-icon>
          </button>
          <mat-icon matPrefix>attach_money</mat-icon>

        </mat-form-field>
      </form>
      <ng-container *ngIf="registrar_cuenta && !registradas.value">
        <div class="my-4 p-2">
          <div class="font-medium flex justify-center items-center">
            <span>
              Afiliar Cuenta
            </span>
          </div>
          <form [formGroup]="registro" class="grid grid-col-1">
            <div>
              <label>Nombre</label>
              <div>
                <mat-form-field class="w-full">
                  <input type="text" matInput formControlName="name">
                  <mat-icon matPrefix>person</mat-icon>

                  <mat-error class="text-xs" *ngIf="registro.controls['name'].hasError('required')">
                    El campo Nombre es <strong>Obligatorio</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div>
              <label>Teléfono</label>
              <div>
                <mat-form-field class="w-full">
                  <input type="tel" matInput formControlName="phone" #phone maxlength="11" minlength="11"
                    pattern="[0-9]*">
                  <mat-icon matPrefix> smartphone</mat-icon>
                  <mat-error *ngIf="registro.controls['phone'].hasError('pattern')" class="text-xs ">
                    Solo caracateres númericos
                  </mat-error>
                  <mat-error class="text-xs" *ngIf="registro.controls['phone'].hasError('required')">
                    El campo Teléfono es <strong>Obligatorio</strong>
                  </mat-error>
                  <mat-hint align="end" class="text-xs">{{phone.value.length}} /
                    11</mat-hint>
                </mat-form-field>
              </div>
            </div>
          </form>
          <div class="flex my-2  justify-between gap-4">
            <button mat-flat-button class=" w-full" color="warn" [mat-dialog-close]="true">Salir</button>
            <button mat-flat-button class=" w-full" color="primary" [disabled]="registro.invalid"
              (click)="aggPm()">Registrar</button>
          </div>
        </div>
      </ng-container>

    </ng-container>

  </div>
</div>
<ng-container mat-dialog-actions *ngIf="listaCuentas  && registradas.value">
  <div class="grid grid-cols-1 my-2">
    <div class="flex drop-shadow-md bg-gray-100 rounded-xl items-center my-2 p-4 gap-x-8" *ngFor="let item of cuentas"
      (click)="showAccountBalance(item)">
      <div class="flex-shrink-0  items-center ">
        <mat-icon>account_balance</mat-icon>
      </div>
      <div class="flex flex-col flex-wrap font-medium ">
        <span class="  "> {{item.method}} </span>
        <span class=" ">{{item.name}} </span>
        <span class=" ">{{item.phone ?? ''}} </span>
        <span class="font-extralight text-clip">{{item.email ?? ''}}</span>
      </div>
    </div>
  </div>

</ng-container>