<div class="">
    <h3 class="text-gray-600 text-center text-2xl font-medium py-4 inline-flex items-center justify-center gap-x-4"> <mat-icon class="ml-8">tv_guide</mat-icon>Canales</h3>
    <ul class="flex flex-wrap gap-8  m-4  ">

        <li class="flex items-center m-2 rounded-md w-20 h-20  bg-cover  drop-shadow-xl shadow-lg shadow-gray-500/50  ease-in-out delay-100  hover:-translate-y-1 hover:scale-110 duration-300" [matTooltip]="item.channel.name" *ngFor="let item of data">
            <img [src]="item.channel.file_logo" [alt]="item.channel.name"
                class="p-2">
        </li>
       
    </ul>
</div>