<form [formGroup]="listPackage">
    <div *ngFor="let paquete of packages" class=" w-full mx-auto my-4">
        <div
            class="h-24 mx-4 px-6 w-full gap-x-4 flex justify-between items-center p-3 rounded-xl border-2 border-slate-100 shadow-lg transition-all transform-all hover:scale-105 cursor-pointer relative">
            <!-- <div class="flex-shrink-0 items-center w-1/3">
                <img class="rounded-full" src="../../../../../../../assets/img/g1.png" alt="" width="90" height="30" />
            </div> -->
            <div class="flex-shrink-0">
                <button
                    class="p-2 inline-flex items-center rounded-full bg-red-600 text-white font-mono font-semibold mx-2 my-4"
                    (click)="verDetalles(paquete.id)">
                    {{paquete.channels_package_gtv_count}} +
                </button>
            </div>
            <div class="flex-shrink-1 items-center font-mono">
                <div class="text-slate-800 text-center">{{paquete.name}}</div>
                <div class="text-slate-800 text-center">{{paquete.price |
                    number:'1.1-2'}} <span class="text-xs">/ mensual</span></div>
              

            </div>
            <div class="flex-shrink-1  text-slate-800 text-center items-center font-mono">
                <mat-checkbox color="warn" [checked]="paquete" (change)="setShopping($event.checked, paquete)"
                [value]="paquete" formControlName="package"><mat-icon>add_shopping_cart</mat-icon></mat-checkbox>
            </div>

        </div>
    </div>
    

</form>