<div class="relative">
  <div class="mt-6 mb-6">
    <h3 class="text-gray-800 text-center font-light ">Monto a Pagar</h3>
    <div
      class="inline-flex justify-center gap-y-8 items-center border-2 bg-zinc-100 border-red-300 py-2 w-full rounded-lg  shadow-xl ">
      <span class=" text-center text-2xl font-mono font-bold">${{factura.monto}}</span>
    </div>
    <!-- <button mat-raised-button color="warn" class="w-full">Bs.{{calcular()|number:'1.2-2'}}</button> -->
  </div>
  <div class="sticky top-0 z-10  flex justify-between bg-gray-50">
    <div>
      <mat-checkbox class="ml-3" color="primary" [formControl]="registradas"
        (change)="listaCuentas = registradas.value">Cuentas afiliadas</mat-checkbox>
    </div>
    <div *ngIf="cuentas.length == 0" class="flex items-center">
      <div class="flex items-center">
        Sin cuentas afiliadas
      </div> 
    </div>
  </div>
  <!-- <div class="mt-6">
  <h1 class="text-gray-900 font-semibold ">Monto a Pagar</h1>
  <button mat-raised-button color="warn" class="w-full">${{factura.monto}}</button>
</div> -->
  <div class="mt-6">
    <ng-container *ngIf="!listaCuentas">
      <form class="space-y-3" [formGroup]="myForm" (submit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Titular Cuenta</mat-label>
          <input matInput formControlName="sender" type="text" />
          <mat-icon matPrefix>account_circle</mat-icon>


        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Fecha Del Pago</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date" />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Monto Pagado</mat-label>
          <input matInput type="number" formControlName="amount" />
          <button mat-icon-button matSuffix [attr.aria-label]="'Enviar Pago'" [attr.aria-pressed]="true" color="accent"
            [disabled]="myForm.invalid || !botonHabilitado">

            <mat-icon>send</mat-icon>
          </button>
          <mat-icon matPrefix>attach_money</mat-icon>
        </mat-form-field>
      </form>
      <ng-container *ngIf="registrar_cuenta  && !registradas.value ">
        <div class="my-4 p-2">
          <div class="font-medium flex justify-center items-center">
            <span>
              Afiliar Cuenta
            </span>
          </div>
          <form [formGroup]="registro" class="grid grid-col-1">
            <div>
              <label>Nombre</label>
              <div>
                <mat-form-field class="w-full">
                  <input type="text" matInput formControlName="name">
                  <mat-icon matPrefix>person</mat-icon>
                  <mat-error *ngIf="registro.hasError('required')">
                    Email is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div>
              <label>Correo electrónico</label>
              <div>
                <mat-form-field class="w-full">
                  <input type="email" matInput formControlName="email">
                  <mat-icon matPrefix>alternate_email</mat-icon>
                  <mat-error
                    *ngIf="registro.controls['email'].hasError('email') && !registro.controls['email'].hasError('required')">
                    Por favor colocar un correo valido
                  </mat-error>
                  <mat-error *ngIf="registro.controls['email'].hasError('required')">
                    El correo es <strong>Obligatorio</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </form>
          <div class="flex my-2  justify-between gap-4">
            <button mat-flat-button class=" w-full" color="warn" [mat-dialog-close]="true">Salir</button>
            <button mat-flat-button class=" w-full" color="primary" [disabled]="registro.invalid"
              (click)="aggZelle()">Registrar</button>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="listaCuentas && registradas.value">
      <div class="grid grid-cols-1 my-2">
        <div class="flex drop-shadow-md bg-gray-100 rounded-xl items-center my-2 p-4 gap-x-8"
          *ngFor="let item of cuentas" (click)="showAccountBalance(item)">
          <div class="flex-shrink-0  items-center ">
            <mat-icon>account_balance</mat-icon>
          </div>
          <div class="flex flex-col flex-wrap font-medium ">
            <span class="  "> {{item.method}} </span>
            <span class=" ">{{item.name}} </span>
            <span class=" ">{{item.phone ?? ''}} </span>
            <span class="font-extralight text-clip">{{item.email ?? ''}}</span>
          </div>
        </div>
      </div>

    </ng-container>
  </div>
</div>