<h1 mat-dialog-title class="bg-red-500"><span class="text-slate-50 text-xl font-medium">Notificar el pago</span><a
    mat-dialog-close class="absolute top-1 right-0 p-2.5 text-sm font-medium  text-white rounded-r-lg cursor-pointer ">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"
      stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
    </svg>
    <span class="sr-only">Close</span>
  </a></h1>
<div mat-dialog-content>
  <div class="grid grid-cols-1 lg:grid-cols-1 gap-4">
    <div class="rounded-md bg-yellow-50 p-4">
      <div class="flex">
        <div class="flex-shrink-0">
          <svg class="h-5 w-5 text-yellow-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd"
              d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495zM10 5a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 0110 5zm0 9a1 1 0 100-2 1 1 0 000 2z"
              clip-rule="evenodd" />
          </svg>
        </div>
        <div class="ml-3">
          <h3 class="text-sm font-medium text-yellow-800">Información importante</h3>
          <div class="mt-2 text-sm text-yellow-700">
            <ul role="list" class="list-disc space-y-1 pl-5">
              <li>El sistema solo permite registrar un metodo de pago, razón por la cual solo podrá registrar el pago
                por el monto total o mayor de su factura.
                .</li>
              <li>No podrá registrar dos pagos para una misma factura.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <mat-form-field appearance="fill" class="w-full mt-8">
      <mat-label>Método de pago realizado</mat-label>
      <mat-select [(ngModel)]="selectedOption">
        <mat-option value="0">...</mat-option>
        <mat-option value="1">Pago Movil</mat-option>
        <mat-option value="2">Zelle</mat-option>
        <mat-option value="3">Transferencia</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <ng-container *ngIf="selectedOption == '1'">
    <app-pago-movil [factura]="data"></app-pago-movil>
  </ng-container>
  <ng-container *ngIf="selectedOption == '2'">
    <app-zelle [factura]="data"></app-zelle>
  </ng-container>
  <ng-container *ngIf="selectedOption == '3'">
    <app-transferencia [factura]="data"></app-transferencia>
  </ng-container>

</div>