<div class="flex flex-col fixed bottom-0  z-0 gap-4 py-2">
    <div class="grid  w-full place-items-center  rounded-lg z-10 my-2">
        <div role="alert"
            class="bg-white/40 backdrop-blur-xl z-20 max-w-md  right-5 top-5 rounded-lg p-6 shadow">
            <div class="flex-col flex   justify-center">
                <p class="font-bold text-gray-800 text-center">
                    Desliza hacia abajo.
                </p>
                <span class="text-xs font-medium text-center ">Ahora podras afiliar tus cuentas frecuentes.</span>
            </div>
        </div>
    </div>
    <div class="flex  items-center justify-center">
        <img src="../../../../../assets/img/arrow-down-unscreen.gif" alt="G-net"
            class="flex-reverse object-contain mx-auto w-1/6 bg-transparent">

    </div>
    <div class="flex items-center justify-center">
        <button mat-raised-button color="warn"  (click)="closeMsg()">Ok, entendido</button>
    </div>

    <div
        class="flex transform items-center justify-center transition-transform duration-150 ease-in-out hover:scale-105">
        <img src="../../../../../assets/img/5_1.png" alt="G-net"
            class="flex-reverse object-contain mx-auto xl:w-2/5 w-full">

    </div>
</div>