<div class="relative " >
  <div class="mt-6 mb-6" (scroll)="viewLinkAccount($event)">

    <!-- Monto de factura -->
    <!-- <div class="rounded-md bg-blue-50 p-4">
      <div class="flex">
        <div class="flex-shrink-0">
          <svg class="h-5 w-5 text-blue-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd"
              d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a.75.75 0 000 1.5h.253a.25.25 0 01.244.304l-.459 2.066A1.75 1.75 0 0010.747 15H11a.75.75 0 000-1.5h-.253a.25.25 0 01-.244-.304l.459-2.066A1.75 1.75 0 009.253 9H9z"
              clip-rule="evenodd" />
          </svg>
        </div>
        <div class="ml-3 flex-1 md:flex md:justify-between">
          <p class="text-sm text-blue-700">Monto de factura: <span class="font-semibold">$ {{this.factura.monto}}</span>
          </p>
        </div>
      </div>
    </div> -->
    <div class="  bg-zinc-100 rounded-md my-2">
      <div class="px-8">
        <div class="flex justify-between  py-2 text-gray-600">
            <span>Total de la Factura</span>
            <span class="font-semibold text-gray-700">$ {{this.factura.monto}}</span>
        </div>
        <div class="flex justify-between  py-2 text-gray-600">
          <span>Total Descuento</span>
          <span class="font-semibold text-gray-700">$ {{descuento}}</span>
      </div>
        <div class="flex justify-between  border-b py-2 text-gray-600">
            <span>Saldo a Favor</span>
            <span class="font-semibold text-green-700">$ {{saldoFavor}}</span>
        </div>
    </div>
    <div class="font-semibold text-xl px-8 flex justify-between py-4 text-gray-600  ">
        <span>Total a pagar</span>
        <span>$ {{calcular}}</span>
    </div>
    </div>


    <!-- <h3 class="text-gray-800 text-center font-light ">Monto a Pagar</h3> -->
    <div
      class="inline-flex justify-center gap-y-8 items-center border-2 bg-zinc-100 border-red-300 py-2 w-full rounded-lg  shadow-xl ">
      <span class=" text-center text-2xl font-mono font-bold">${{calcular}}</span>
    </div>
    <!-- <button mat-raised-button color="warn" class="w-full">Bs.{{calcular()|number:'1.2-2'}}</button> -->
  </div>
  <div class="sticky top-0 z-10  flex justify-between bg-gray-50">
    <div>
      <mat-checkbox class="ml-3" color="primary" [formControl]="registradas"
        (change)="listaCuentas = registradas.value">Cuentas afiliadas</mat-checkbox>
    </div>
    <div *ngIf="cuentas.length == 0" class="flex items-center">
      <div class="flex items-center">
        Sin cuentas afiliadas
      </div>
    </div>
  </div>
  <!-- <div class="mt-6">
  <h1 class="text-gray-900 font-semibold ">Monto a Pagar</h1>
  <button mat-raised-button color="warn" class="w-full">${{factura.monto}}</button>
</div> -->
  <div class="mt-6 ">
    <ng-container *ngIf="!listaCuentas">
      <form class="space-y-3 " [formGroup]="myForm" (submit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Titular Cuenta</mat-label>
          <input matInput formControlName="sender" type="text" />
          <mat-icon matPrefix>account_circle</mat-icon>


        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Fecha Del Pago</mat-label>
          <input matInput [matDatepicker]="picker" [max]="maxDate" formControlName="date" />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Monto Pagado</mat-label>
          <input matInput type="number" formControlName="amount" />
          <button mat-icon-button matSuffix [attr.aria-label]="'Enviar Pago'" [attr.aria-pressed]="true" color="accent"
            [disabled]="myForm.invalid || !botonHabilitado">

            <mat-icon>send</mat-icon>
          </button>
          <mat-icon matPrefix>attach_money</mat-icon>
        </mat-form-field>
      </form>
      <ng-container *ngIf="registrar_cuenta && !registradas.value " class="">
        <div class="my-4 p-2  ">
          <div class="font-medium flex justify-center items-center">
            <span>
              Afiliar Cuenta
            </span>
          </div>
          <form [formGroup]="registro" class="grid grid-col-1">
            <div>
              <label>Nombre</label>
              <div>
                <mat-form-field class="w-full">
                  <input type="text" matInput formControlName="name">
                  <mat-icon matPrefix>person</mat-icon>
                  <mat-error *ngIf="registro.hasError('required')">
                    Email is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div>
              <label>Titular del Zelle</label>
              <div>
                <mat-form-field class="w-full">
                  <input type="text" matInput  formControlName="titular">
                  <mat-icon matPrefix>person</mat-icon>
                  <mat-error *ngIf="myForm.hasError('required')">
                    Email is <strong>required</strong>
                  </mat-error>
                  <mat-hint class="text-xs">Colocar el mismo nombre que aparece en su cuenta de Zelle </mat-hint>
                </mat-form-field>
              </div>
            </div>
            <div>
              <label>Correo electrónico</label>
              <div>
                <mat-form-field class="w-full">
                  <input type="email" matInput formControlName="email">
                  <mat-icon matPrefix>alternate_email</mat-icon>
                  <mat-error
                    *ngIf="registro.controls['email'].hasError('email') && !registro.controls['email'].hasError('required')">
                    Por favor colocar un correo valido
                  </mat-error>
                  <mat-error *ngIf="registro.controls['email'].hasError('required')">
                    El correo es <strong>Obligatorio</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </form>
          <div class="flex my-2  justify-between gap-4">
            <button mat-flat-button class=" w-full" color="warn" [mat-dialog-close]="true">Salir</button>
            <button mat-flat-button class=" w-full" color="primary" [disabled]="registro.invalid"
              (click)="aggZelle()">Registrar</button>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="listaCuentas  && registradas.value">
      <div class="grid grid-cols-1 my-2">
        <div class="flex drop-shadow-md bg-gray-100 rounded-xl items-center my-2 p-4 gap-x-8"
          *ngFor="let item of cuentas" (click)="showAccountBalance(item)">
          <div class="flex-shrink-0  items-center ">
            <mat-icon>account_balance</mat-icon>
          </div>
          <div class="flex flex-col flex-wrap font-medium ">
            <span class="  "> {{item.method_name}} </span>
            <span class=" ">{{item.name}} </span>
            <span class=" ">{{item.sender ?? ''}} </span>
            <span class="font-extralight text-clip">{{item.email ?? ''}}</span>
          </div>
        </div>
      </div>

    </ng-container>
  </div>
</div>