<h1 mat-dialog-title class="bg-black"><span class="text-slate-50 text-xl font-medium">Información del Equipo</span><a
        mat-dialog-close
        class="absolute top-1 right-0 p-2.5 text-sm font-medium  text-white rounded-r-lg cursor-pointer ">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"
            stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
        <span class="sr-only">Close</span>
    </a></h1>
<div mat-dialog-content>
    <div class="grid grid-cols-1 gap-8">
        <div class="flow-root">
            <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
                <li class="py-3 sm:py-4">
                    <div class="flex items-center space-x-4">
                        <div class="flex-shrink-0">
                            <i class="fa fa-tv  items-center" style="font-size:25px;"></i>
                        </div>
                        <div class="flex-1 min-w-0 justify-center items-center">
                            <p class=" py-1 flex justify-between">
                                <dt class="text-gray-900 font-semibold">Producto</dt>
                                <dd class="text-gray-700">
                                    {{data.product_name}}</dd>
                            </p>
                            <p class=" py-1 flex justify-between">
                                <dt class="text-gray-900 font-semibold">Serial</dt>
                                <dd class="text-gray-700">{{data.serial == null ? "Sin vinculación" :data.serial
                                    }}</dd>
                            </p>
                            <p class=" py-1 flex justify-between">
                                <dt class="text-gray-900 font-semibold">MAC</dt>
                                <dd class="text-gray-700">{{data.mac == null ? "Sin vinculación" : data.mac
                                    }}</dd>
                            </p>

                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>