<div class="mt-16">
    <app-encabezado title="Inicio"></app-encabezado>
</div>
<div class="grid grid-cols-1 xl:grid-cols-3">
    <div class="col-span-2">
        <ng-container *ngIf="contratos$ | async as contratos; else elseTemplate">
            <div class="mx-auto max-w-7xl px-6 lg:px-8">
                <div class="isolate mx-auto mt-10 grid max-w-md grid-cols-1 gap-8 lg:mx-0 lg:max-w-none lg:grid-cols-2">
                    <!-- <div class=" p-8  xl:p-8  bg-zinc-100 text-center rounded-3xl  shadow-xl" *ngFor="let item of departmentsAll"> -->
                    <!-- <div class="flex items-center  "> -->
                    <app-card-user *ngFor="let item of contratos" [contratos]="item"></app-card-user>
                </div>
            </div>

        </ng-container>
        <ng-template #elseTemplate>
            <p class="text-lg font-medium text-gray-900 mt-5">No hay Resultado</p>
        </ng-template>
    </div>
    <div class="relative flex items-end justify-end m-4">
        <app-publicidad-gifs></app-publicidad-gifs>
    </div>
</div>