<!-- component -->

<div class=" mt-[80px] relative mx-auto md:max-w-xl min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-xl ">
  <div class="px-6">

    <div class="flex flex-wrap justify-center">
      <div class="w-full ">
        <div class="relative flex justify-center">
          <img src="../../../../../assets/img/g1.png"
            class="shadow-xl rounded-full align-middle border-none absolute -m-16 -ml-20 lg:-ml-16 max-w-[150px]" />
        </div>
      </div>
      <div
        class="right-0 mt-4 rounded-l-full absolute text-center font-medium text-sm border-2 text-white px-3 py-1 bg-black fill-white shadow-md">
        <a [routerLink]="[ 'finanzas/', contratos.id]" class="inline-flex items-center gap-x-1">
          Ver Facturas
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-receipt-cutoff inline-flex" viewBox="0 0 16 16">
            <path
              d="M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zM11.5 4a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z" />
            <path
              d="M2.354.646a.5.5 0 0 0-.801.13l-.5 1A.5.5 0 0 0 1 2v13H.5a.5.5 0 0 0 0 1h15a.5.5 0 0 0 0-1H15V2a.5.5 0 0 0-.053-.224l-.5-1a.5.5 0 0 0-.8-.13L13 1.293l-.646-.647a.5.5 0 0 0-.708 0L11 1.293l-.646-.647a.5.5 0 0 0-.708 0L9 1.293 8.354.646a.5.5 0 0 0-.708 0L7 1.293 6.354.646a.5.5 0 0 0-.708 0L5 1.293 4.354.646a.5.5 0 0 0-.708 0L3 1.293 2.354.646zm-.217 1.198.51.51a.5.5 0 0 0 .707 0L4 1.707l.646.647a.5.5 0 0 0 .708 0L6 1.707l.646.647a.5.5 0 0 0 .708 0L8 1.707l.646.647a.5.5 0 0 0 .708 0L10 1.707l.646.647a.5.5 0 0 0 .708 0L12 1.707l.646.647a.5.5 0 0 0 .708 0l.509-.51.137.274V15H2V2.118l.137-.274z" />
          </svg>

        </a>
      </div>
      <ng-container *ngIf="contratos.status ==16 ">
        <div
          class="left-0 mt-4 rounded-r-full absolute text-center font-medium text-sm text-white px-2 py-1 bg-green-700 fill-white shadow-md">
          <span class="inline-flex items-center gap-x-2">
            <svg class="h-2 w-2 " viewBox="0 0 6 6" aria-hidden="true">
              <circle cx="3" cy="3" r="3" />
            </svg>
            {{contratos.status_name}}
          </span>
        </div>
      </ng-container>
      <ng-container *ngIf="contratos.status ==18 ">
        <div
          class="left-0 mt-4 rounded-r-full absolute text-center font-medium text-sm text-white px-2 py-1 bg-red-700 fill-white shadow-md">
          <span class="inline-flex items-center gap-x-2">
            <svg class="h-2 w-2 " viewBox="0 0 6 6" aria-hidden="true">
              <circle cx="3" cy="3" r="3" />
            </svg>
            {{contratos.status_name}}
          </span>
        </div>
      </ng-container>
      <ng-container *ngIf="contratos.status ==19 ">
        <div
          class="left-0 mt-4 rounded-r-full absolute text-center font-medium text-sm text-white px-2 py-1 bg-yellow-600 fill-white shadow-md">
          <span class="inline-flex items-center gap-x-2">
            <svg class="h-2 w-2 " viewBox="0 0 6 6" aria-hidden="true">
              <circle cx="3" cy="3" r="3" />
            </svg>
            {{contratos.status_name}}
          </span>
        </div>
      </ng-container>
      <ng-container *ngIf="contratos.status ==20 ">
        <div
          class="left-0 mt-4 rounded-r-full absolute text-center font-medium text-sm text-white px-2 py-1 bg-orange-600 fill-white shadow-md">
          <span class="inline-flex items-center gap-x-2">
            <svg class="h-2 w-2 " viewBox="0 0 6 6" aria-hidden="true">
              <circle cx="3" cy="3" r="3" />
            </svg>
            {{contratos.status_name}}
          </span>
        </div>
      </ng-container>
      <!-- Cancelado -->
      <ng-container *ngIf="contratos.status ==34 ">
        <div
          class="left-0 mt-4 rounded-r-full absolute text-center font-medium text-sm text-gray-700 px-2 py-1 bg-gray-100 fill-gray-700 shadow-md">
          <span class="inline-flex items-center gap-x-2">
            <svg class="h-2 w-2 " viewBox="0 0 6 6" aria-hidden="true">
              <circle cx="3" cy="3" r="3" />
            </svg>
            {{contratos.status_name}}
          </span>
        </div>
      </ng-container>
      <!-- Retirado -->
      <ng-container *ngIf="contratos.status ==35 ">
        <div
          class="left-0 mt-4 rounded-r-full absolute text-center font-medium text-sm text-red-700 px-2 py-1 bg-red-100 fill-red-700 shadow-md">
          <span class="inline-flex items-center gap-x-2">
            <svg class="h-2 w-2 " viewBox="0 0 6 6" aria-hidden="true">
              <circle cx="3" cy="3" r="3" />
            </svg>
            {{contratos.status_name}}
          </span>
        </div>
      </ng-container>


      <div class="w-full text-center mt-28 ">
        <ng-container *ngIf="contratos.client_type == 1 || contratos.client_type == 2 || contratos.client_type == 7 && contratos.status ==16">
          <!-- <ng-container *ngIf="contratos.status ==16"> -->
          <!-- <ng-container > -->
          <div class="flex  mx-auto justify-center">
            <a [routerLink]="[ 'canjear', contratos.id]" class="rounded-full p-1 hover:scale-90 bg-slate-100"
              matTooltip="Canjear">
              <img src="../../../../../assets/img/MonedaPortal3.png" width="70" alt="">
            </a>
          </div>
            <div class="flex  mx-auto justify-center">
              <span class="flex  justify-center items-center text-center font-extralight text-base "> Canjear
                <svg class="w-3 h-3 mx-1" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3">
                  </path>
                </svg>
              </span>
          </div>
        </ng-container>
        <div class="flex justify-center items-end lg:pt-4 pt-8 pb-0 divide-x-4">
          <div class="p-4 text-center">
            <span class="text-[25px] flex flex-col font-bold justify-center uppercase tracking-wide text-green-600">
              {{contratos.balance?? 0| currency:'USD'}}
              <span class="text-sm font-bold uppercase ml-1">
                {{calculo(contratos.balance?? 0) |currency:'Bs '}}</span></span>
            <span class="text-sm text-slate-400">Saldo a Favor</span>
          </div>
          <div class="p-3 text-center">
            <span
              class="text-[25px] flex flex-col font-bold justify-center uppercase tracking-wide text-red-600">{{contratos.debt??0|
              currency}}
              <span class="text-sm font-bold uppercase ml-1">
                {{calculo(contratos.debt?? 0 ) |currency:'Bs '}}</span></span>
            <span class="text-sm text-slate-400">Deuda pendiente</span>
          </div>
        </div>
      </div>
      <div class="flex items-center my-2 p-2  text-xs text-center text-red-800 rounded-lg bg-red-50" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
          class="flex-shrink-0 inline w-5 h-5  me-3">
          <path fill-rule="evenodd"
            d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495zM10 5a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 0110 5zm0 9a1 1 0 100-2 1 1 0 000 2z"
            clip-rule="evenodd" />
        </svg>
        <span class="sr-only">Info</span>
        <div>
          <span class=" font-medium leading-6 mr-2 ">Tiene hasta el <span class="text-lg font-bold text-red-800">
              {{contratos.date_cicle == 25 ? '4': contratos.date_cicle + 9 }} <span
                class="text-xs font-medium ">c/mes</span></span>
            para realizar el pago de su factura</span>
          <p class=" font-medium text-red-800">Evite el corte de su servicio</p>
        </div>
      </div>

      <div class="w-full flex justify-evenly items-center text-center">
        <h3 class="text-xl text-slate-700 font-bold leading-normal mb-1" matTooltip="Nro. Contrato"><mat-icon
            class="">description</mat-icon>{{contratos.id}}</h3>

        <div>
          <div class="">
            <ng-container *ngIf="contratos.signe">
              <img [src]="contratos.signe" alt="" height="150" width="150" class="mx-2" matTooltip="Firma">
            </ng-container>
          </div>
          <div class="">
            <ng-container *ngIf="!contratos.signe">
              <button mat-raised-button color="primary" (click)="abrirFirma()">Firmar</button>
            </ng-container>
          </div>
        </div>
        <div class="text-sm mt-0 text-slate-400 font-bold uppercase">
          <span class="inline-flex items-center" matTooltip="Orden de Instalacion">
            <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z" />
            </svg> {{contratos.installation_order}}
          </span>

        </div>
      </div>
      <div class="mt-6 py-6 border-t border-slate-200 text-center">
        <div class="flex flex-wrap  justify-center">
          <div class="w-full h-[80px] px-4">
            <p class="font-light  text-slate-600 text-sm"> {{contratos.address_tax}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>

  <!-- component -->
  <div>
    <dl class=" grid grid-cols-1 gap-5 lg:grid-cols-2 p-4" *ngIf="contract">
      <div *ngIf="contratos.status ==16 && contract.length <= 1   ">
        <div class=" bg-white px-4 py-2  text-center flex flex-col items-center justify-center">
          <dt class=" text-sm font-medium text-gray-500 uppercase">Próximamente</dt>
          <dd class="mt-1 text-xl font-semibold tracking-tight text-gray-900">SERVICIO DE TV </dd>
          <div class="my-1 flex justify-center">
            <!-- Esto va comentado -->
            <div class="w-full inline-flex rounded-md bg-white shadow">
              <button mat-raised-button color="warn" (click)="IrDetalle(contratos.id)"
                class="w-full py-2 px-6"><mat-icon class="ml-2">shopping_cart</mat-icon>
                Contratar
              </button>
            </div>
            <!-- Fin del comentado  -->
          </div>
        </div>
      </div>
      <div *ngFor="let item of contract">
        <div class=" bg-white px-4 py-5  text-center">
          <dt class=" text-sm font-medium text-gray-500">{{item.service_type.description}}</dt>
          <dd class="mt-1 text-xl font-semibold tracking-tight text-gray-900">{{item.plan_type.name}}</dd>

          <ng-container *ngIf="item.service_type.id == 4 else INTERNET">
            <!-- Comienza el comentado  de GTV-->
            <div class="flex justify-center  divide-x-2">
              <div class=" px-3 text-center">
                <span
                  class="text-sm font-bold block uppercase tracking-wide text-slate-600">{{item.contract_detail_package.length
                  ?? 0}}
                  <span class="text-xs font-bold uppercase ml-1">paquetes</span></span>
              </div>
              <div class="px-3 text-center">
                <span
                  class="text-sm font-bold block uppercase tracking-wide text-slate-600">{{item.contract_detail_product.length
                  ?? 0}}
                  <span class="text-xs font-bold uppercase ml-1">TV BOX</span></span>
              </div>
            </div>
            <button mat-raised-button color="warn" (click)="miServicio(contratos.id)" class="flex w-full m-1">
              Ir a Servicio TV <mat-icon class="mr-2 right-0">tv</mat-icon>
               <!-- Termina el comentado -->
            </button>
          </ng-container>
          <ng-template #INTERNET>
            <dt class=" text-sm font-medium text-gray-500">{{item.plan_type.profile}}</dt>
          </ng-template>

        </div>

      </div>
    </dl>
  </div>