<!-- component -->

<div #htmlData id="htmlData" class=" max-w-screen-xl text-xs  bg-repeat-x bg-center justify-center items-center">
    <div class="max-w-sm w-full h-full mx-auto z-10 bg-red-700 rounded-3xl">
        <div class="flex flex-col">
            <div class="bg-white relative drop-shadow-2xl  rounded-3xl p-4 m-4">
                <div class="flex-none sm:flex">
                    <div class=" relative h-32 w-32   sm:mb-0 mb-3 hidden">
                        <img src="https://tailwindcomponents.com/storage/avatars/njkIbPhyZCftc4g9XbMWwVsa7aGVPajYLRXhEeoo.jpg"
                            alt="aji" class=" w-32 h-32 object-cover rounded-2xl">
                        <a href="#"
                            class="absolute -right-2 bottom-2   -ml-3  text-white p-1 text-xs bg-green-400 hover:bg-green-500 font-medium tracking-wider rounded-full transition ease-in duration-300">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                class="h-4 w-4">
                                <path
                                    d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z">
                                </path>
                            </svg>
                        </a>
                    </div>
                    <div class="flex-auto justify-evenly">
                        <div class="flex items-center justify-between">
                            <div class="flex items-center  my-1">
                                <span class="mr-3 rounded-full bg-white ">
                                    <img src="../../../../../assets/img/g5.png" class="h-12 p-1">
                                </span>
                            </div>

                        </div>
                        <div class=" border-dashed border-b-2 my-5"></div>
                        <div class="flex items-end">
                            <div class="flex flex-col">
                                <div class="flex-auto text-xs text-gray-400 my-1">
                                    <span class="mr-1 ">Servicio</span>
                                </div>
                                <div class="w-full flex-none text-lg text-red-800 font-bold leading-none">
                                    {{canje.service_name ? canje.service_name:'TV | INTERNET'}}</div>

                            </div>
                            <div class="flex flex-col mx-auto">
                                <img src="../../../../../assets/img/7.png" class="w-20 p-1">

                            </div>
                            <div class="flex flex-col ">
                                <div class="flex-auto text-xs text-gray-400 my-1">
                                    <span class="mr-1">Descuento</span>
                                </div>
                                <div class="w-full flex-none text-3xl text-red-800 font-bold leading-none">
                                    {{canje.percentage | number:'1.0-0'}}%</div>

                            </div>
                        </div>

                        <div class=" border-dashed border-b-2 my-5 pt-5">
                            <div class="absolute rounded-full w-5 h-5 bg-red-700 -mt-2 -left-2"></div>
                            <div class="absolute rounded-full w-5 h-5 bg-red-700 -mt-2 -right-2"></div>
                        </div>

                        <div class="flex flex-col   justify-center text-sm py-3">
                            <!-- <h6 class="flex flex-col mx-auto mb-3 text-sm font-bold">{{canje.cod e}}</h6> -->
                            <div class="flex items-center justify-center space-x-2 mb-3 border-dashed border-gray-500  mx-auto">
                                <span id="cpnCode"
                                    class=" flex items-start py-auto my-auto text-black px-4 py-2 rounded-l font-mono text-4xl select-none">{{canje.code}}</span>
                            </div>
                            <div class="font-semibold flex justify-center text-xs">{{canje.description}}</div>
                        </div>
                        <div class=" border-dashed border-b-2 my-5 pt-5">
                            <div class="absolute rounded-full w-5 h-5 bg-red-700 -mt-2 -left-2"></div>
                            <div class="absolute rounded-full w-5 h-5 bg-red-700 -mt-2 -right-2"></div>
                        </div>
                        <div class="flex justify-stretch mb-4 px-5">
                            <div class="flex flex-col mx-auto text-sm">
                               
                                <asw-qr-code #parent [qrData]="qrdata" [width]="option.width" [height]="option.height"
                                    [outerMargin]="option.outerMargin" [type]="option.type" [allowEmptyString]="true"
                                    [logo]="option.logo" [density]="option.density"
                                    [backgroundColor]="option.backgroundColor" [logoStyle]="option.logoStyle"
                                    [middleShape]="option.middleShape" [cornerInnerShape]="option.cornerInnerShape"
                                    [cornerOuterShape]="option.cornerOuterShape">
                                </asw-qr-code>
                                <p class="flex flex-col mx-auto text-sm">Vence el {{canje.expires_at | date:'short'}}
                                </p>
                            </div>
                            <!-- <div class="font-semibold justify-stretch">{{canje.description}}</div> -->

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>