<div class=" flex flex-col justify-center p-4">
    <div class=" flex flex-col justify-center self-center z-10">
        <div class=" xl:pb-10 mx-auto  flex items-center justify-center ">
            <div
                class="flex mr-auto transform items-center justify-center transition-transform duration-150 ease-in-out hover:scale-105">
                <img src="../../../../assets/img/7_1.png" alt="G-net" class="flex-reverse object-contain mx-auto w-2/4">

            </div>

        </div>
    </div>
    <div class="space-y-5 px-4 text-white flex flex-col justify-center  items-center">
        <img [src]=" image1" alt="Publicidad" 
            class="flex justify-center rounded-xl shadow-4xl border border-gray-100  hover:scale-110 transition duration-700  hover:shadow-2xl">
        <p class=" font-semiboldbold text-xl"></p>
    </div>
</div>