<h1 mat-dialog-title class="bg-gray-900 " style="color:white;">Firma</h1>
<div mat-dialog-content class="w-full" >
        <canvas  (touchmove)="onMouseMove($event)" (mousedown)="onMouseDown($event)" (mousemove)="onMouseMove($event)"
                (touchstart)="onMouseDown($event)" #signPad [height]="isMobile?'280':'600'" [width]="isMobile?'400':'980'">
        </canvas><br>
<p class="text-xs text-gray-400 text-center">Escribe en el medio de el panel</p> 
</div>
<div mat-dialog-actions align="end">
        <button mat-raised-button (click)="clearSignature()" color="warn" class="mr-4">Limpiar</button>
        <button mat-raised-button (click)="saveSignature()" color="primary">Guardar</button>
</div>