<div class=" flex items-center justify-center " *ngIf="contador | async as imagen$">
    <img [src]=" imagen$" alt="Publicidad" 
        class="flex justify-center rounded-xl shadow-4xl border border-gray-100  hover:scale-110 transition duration-700  hover:shadow-2xl">
    <div class="space-y-5 px-4 text-white flex flex-col justify-center  items-center">
        <!-- <p class=" font-bold text-4xl">Proximamente.</p> -->
        <p class=" font-semiboldbold text-xl"></p>
    </div>
    <div class=" ">
        <!-- <img  alt="TV" src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png" /> -->
    </div>
</div>