<form [formGroup]="listPackage" class="relative">
  <div
    *ngFor="let paquetes of packages"
    class="relative h-60 w-96 button mx-auto my-4"
  >
    <div
      class="relative opacity-95 bg-center p-4 m-4 w-full mx-auto rounded-2xl bg-neutral-800"
      [ngClass]="paquetes?.status? 'bg-neutral-500' : 'bg-neutral-800'"
    >
      <div class="mx-auto text-left text-white">
        <span
          
          aria-hidden="true"
          class="absolute inset-x-0 bottom-0 h-[80%] bg-gradient-to-t from-gray-800 opacity-80 rounded-2xl"
        ></span>
        <div class="flex items-center justify-center">
          <div
            class="grid relative px-2 justify-center text-center gap-y-4 mx-2"
          >
            <h1 class="text-xl font-medium inline-flex justify-between">
              {{ paquetes.name }}

              <div   
                class="flex flex-col justify-center text-center top-0 right-0 text-xs mx-4"
              >
                <input
                formControlName="package"
                  name="package"
                  type="checkbox"
                  [value]="paquetes"
                  [id]="paquetes.id"
                  hidden="hidden"
                  (change)="setShopping($event, paquetes)"
                />
                <label 
                  [for]="paquetes.id"
                  class="flex items-center rounded-full mx-auto text-white p-2 hover:shadow-xl transition-shadow duration-300 ease-in-out"
                  matTooltip="Adquirir Paquete"
                  (change)="setShopping($event, paquetes)"
                >
                  <mat-icon class="text-white">add</mat-icon>
                </label>
              </div>
            </h1>
            <span class="text-3xl font-medium">
              ${{ paquetes.price }}<span class="text-xl"> / mensual</span>
            </span>
            <div class="inline-flex justify-center gap-2 items-center">
              <mat-icon>check</mat-icon
              >{{ paquetes.channels_package_gtv_count }} Canales incluidos
              <div class="flex-shrink-0">
                <button
                  class="p-2 flex rounded-full bg-red-600 text-white font-mono font-semibold mx-2 my-4 cursor-pointer"
                  (click)="verDetalles(paquetes.id)"
                >
                  <mat-icon>queue_play_next</mat-icon>
                  <!-- {{paquete.channels_package_gtv_count}} + -->
                </button>
              </div>
            </div>
          
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- <div
            class="h-24 mx-4 px-6 w-full gap-x-4 flex justify-between items-center p-3 rounded-xl border-2 border-slate-100 shadow-lg transition-all transform-all hover:scale-105 cursor-pointer relative">
            <!-- <div class="flex-shrink-0 items-center w-1/3">
              
            <div class="flex-shrink-0">
                <button
                    class="p-2 inline-flex items-center rounded-full bg-red-600 text-white font-mono font-semibold mx-2 my-4"
                    (click)="verDetalles(paquete.id)">
                    {{paquete.channels_package_gtv_count}} +
                </button>
            </div>
            <div class="flex-shrink-1 items-center font-mono">
                <div class="text-slate-800 text-center">{{paquete.name}}</div>
                <div class="text-slate-800 text-center">{{paquete.price |
                    number:'1.1-2'}} <span class="text-xs">/ mensual</span></div>
              

            </div>
            <div class="flex-shrink-1  text-slate-800 text-center items-center font-mono">
                <mat-checkbox color="warn" [checked]="paquete" (change)="setShopping($event.checked, paquete)"
                [value]="paquete" formControlName="package"><mat-icon>add_shopping_cart</mat-icon></mat-checkbox>
            </div>

        </div> -->
