<div class="px-8 py-4">
    <p-card>

        <div class="mx-auto  px-4">

            <section>
                <div class="flex w-full mx-auto items-center my-2 font-semibold">
                    <h2>SERVCIO POSTPAGO</h2>
                    <p></p>
                    <p class="text-sm px-8  font-semibold tracking-wide uppercase">
                        #{{id_contrato}}</p>

                </div>
            </section>
            <form class="lg:grid lg:grid-cols-2 lg:gap-x-12 xl:gap-x-16">
                <div>
                    <app-resumen-cuenta (response)="equipoValido = $event"></app-resumen-cuenta>
                    <app-terminos (response)="aceptar= $event"></app-terminos>
                </div>

                <!-- Order summary -->
                <div class="w-full flex-1  items-start ">

                    <section class=" items-center px-5 py-8 ">
                        <div class="w-full text-red-700 border rounded-lg shadow-xl">

                            <div class="flex items-center justify-between px-6 py-4 mx-auto">
                                <div class="flex">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        class="mr-4 icon icon-tabler icon-tabler-alert-triangle" width="28" height="28"
                                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <circle cx="12" cy="12" r="9"></circle>
                                        <line x1="12" y1="8" x2="12.01" y2="8"></line>
                                        <polyline points="11 12 12 12 12 16 13 16"></polyline>
                                    </svg>
                                    <p class="text-sm lg:text-2xl font-semibold tracking-wide uppercase">
                                        TOTAL</p>
                                </div>
                                <div>
                                    <dd class="text-2xl font-medium " *ngIf="acumulado | async as acumulado else CERO">
                                        ${{acumulado | number: '1.2-2' }} / <span class="text-xs ">mensual</span></dd>
                                </div>

                            </div>
                        </div>
                    </section>
                    <div *ngIf="totalTvBox | async as totalTvBox">
                        <section class="">
                            <div class="relative items-center w-full  py-4 mx-auto max-w-7xl">
                                <div class="p-6 border-l-4 border-yellow-500 rounded-r-xl bg-yellow-100">
                                    <div class="flex">
                                        <div class="flex-shrink-0">
                                            <svg class="h-5 w-5 text-yellow-400" viewBox="0 0 20 20"
                                                fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd"
                                                    d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495zM10 5a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 0110 5zm0 9a1 1 0 100-2 1 1 0 000 2z"
                                                    clip-rule="evenodd" />
                                            </svg>
                                        </div>
                                        <div class="ml-3">
                                            <ul role="list"
                                                class="text-base text-yellow-600 list-disc space-y-1 pl-5">
                                                <li>Antes de procesar el pago debe verificar que el
                                                    <strong>monto</strong> sea mayor o igual al monto a pagar por el
                                                    producto.</li>
                                                <li>No se procesará el pago si el monto es menor al monto a pagar.
                                                </li>
                                                <li>Deberá contactar al área de Antención al Cliente en caso de que
                                                    haya cancelado un monto menor al costo del producto.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <!-- <h2 class="text-lg font-medium text-gray-900">Order summary</h2> -->

                    <!-- Order summary -->
                    <section aria-labelledby="summary-heading"
                        class="mt-16 rounded-lg bg-gray-100 px-4 py-6 sm:p-6 lg:col-span-5 lg:mt-0 lg:p-8 w-full">
                        <!-- *ngIf="montoMenor" -->
                       

                        <dl class="mt-6 space-y-4">
                            <div class="flex items-center justify-between">
                                <dt class="text-sm text-gray-600">Subtotal</dt>
                                <dd class="text-sm font-medium text-gray-900">$0.00</dd>
                            </div>
                            <div class="flex items-center justify-between border-t border-gray-200 pt-4">
                                <dt class="text-base font-medium text-gray-900"> Total a Pagar</dt>
                                <dd class="text-base font-medium text-gray-900"
                                    *ngIf="totalTvBox | async as totalTvBox else CERO">
                                    ${{totalTvBox | number: '1.2-2' }}</dd>
                                <ng-template #CERO>
                                    <dd class="text-base font-medium text-gray-900">
                                        ${{0 | number: '1.2-2' }}</dd>
                                </ng-template>

                            </div>
                            <!-- <div class="flex-1 items-center justify-between border-t border-gray-200 pt-4">
                                <dt class="text-base font-medium text-gray-900"> Aplicar cupon</dt>
                                <div>
                                    <div class="mt-2 flex rounded-md shadow-sm">
                                        <div class="relative flex flex-grow items-stretch focus-within:z-10">
                                            <div
                                                class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-2">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                    fill="currentColor" class="bi bi-upc text-gray-500"
                                                    viewBox="0 0 16 16">
                                                    <path
                                                        d="M3 4.5a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-7zm3 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7z" />
                                                </svg>
                                            </div>
                                            <input type="text"
                                                class="block w-full rounded-none rounded-l-md border-0 py-2 pl-10 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400  sm:text-sm sm:leading-6 "
                                                placeholder="">
                                        </div>
                                        <button type="submit" (click)="validarCupon()"
                                            class="relative -ml-px inline-flex items-center gap-x-1.5 rounded-r-md px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor"
                                                class="bi bi-check2-all -ml-0.5 h-5 w-5 text-gray-400"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l7-7zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0z" />
                                                <path
                                                    d="m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708z" />
                                            </svg>

                                            Validar
                                        </button>
                                    </div>
                                </div>
                            </div> -->
                        </dl>

                        <div class="mt-6" *ngIf="totalTvBox | async as totalTvBox else Registrar">

                            <button button mat-raised-button color="warn" type="submit" (click)="pagar(totalTvBox)"
                                [disabled]="aceptar" *ngIf="payments==null else Registrar"
                                class="w-full inline-flex items-center justify-center rounded-md border font-mono font-semibold border-transparent text-lg bg-red-700 px-4 py-3 text-white shadow-sm hover:bg-red-600 ">
                                <mat-icon class="mx-2">check_small</mat-icon> Pagar </button>

                        </div>
                        <ng-template #Registrar>
                            <div class="mt-6">
                                <button mat-raised-button color="primary" type="submit" (click)="registrar()"
                                    [disabled]="aceptar"
                                    class="w-full inline-flex items-center justify-center rounded-md border font-mono font-semibold border-transparent text-lg bg-gray-800 px-4 py-3 text-white shadow-sm hover:bg-red-600 ">
                                    <mat-icon class="mx-2">check_small</mat-icon> Registrar </button>
                            </div>
                        </ng-template>
                        
                    </section>



                </div>
            </form>
        </div>
        <ng-template pTemplate="footer">
            <div class="flex justify-between">
                <p-button label="Volver" (onClick)="previosPagePlanes()" styleClass="p-button-sm p-button-secondary"
                    icon="pi pi-angle-left" iconPos="left"></p-button>

            </div>
        </ng-template>
    </p-card>
</div>