<div
  class="relative button bg-neutral-800 opacity-95 bg-center p-4 m-4 w-full mx-auto rounded-2xl"
>
  <div class="mx-auto text-left text-white">
    <span
      aria-hidden="true"
      class="absolute inset-x-0 bottom-0 h-[80%] bg-gradient-to-t from-gray-800 opacity-80 rounded-2xl"
    ></span>
    <div class="flex items-center justify-center">
      <div class="grid relative px-2 justify-center text-center gap-y-4">
        <h1 class="text-xl font-medium">{{ paquetes.name }}</h1>
        <span class="text-3xl font-medium">
          ${{ paquetes.price }}<span class="text-xl"> / mensual</span>
        </span>
        <div class="inline-flex justify-center gap-2 items-center">
          <mat-icon>check</mat-icon
          >{{ paquetes.channels_package_gtv_count }} Canales incluidos
            <div class="flex-shrink-0">
            <button  class="p-2 flex rounded-full bg-green-600 text-white font-mono font-semibold mx-2 my-4 cursor-pointer"
                (click)="verDetalles(paquetes.id)">
                <mat-icon>queue_play_next</mat-icon>
                <!-- {{paquete.channels_package_gtv_count}} + -->
            </button>
        </div>
        </div>
        <div class="flex flex-col justify-center my-4 gap-y-4">
          <label
            (change)="setShopping($event); checked = !checked"
            [for]="paquetes.id"
          >
            <div
              class="inline-flex justify-center items-center rounded-2xl w-full"
              [ngClass]="checked ? 'border-2 border-green-600' : 'bg-green-600'"
            >
              <input
                type="checkbox"
                [checked]="checked"
                [value]="paquetes"
                [id]="paquetes.id"
                hidden="hidden"
              />
              <span class="font-bold py-2 px-6 text-xl text-white">{{
                checked ? "Cancelar" : "Adquirir"
              }}</span>
              <!-- <mat-checkbox
                color="warn"
              class="hidden"
            [checked]="checked"
             
              [value]="paquetes"
            >
              <span class="font-bold py-2 px-6 text-xl text-white">{{checked ? 'Cancelar': 'Adquirir'}}</span>
            </mat-checkbox> -->
            </div>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
