<div class=" h-screen" style="overflow-y: none;">
<div class="container mx-auto bg-green-700 shadow-2xl h-96 rounded-md flex items-center">
    <div class="mx-auto flex  xl:flex-row  flex-col justify-around items-center my-2">
        <div class="w-64 flex flex-col sm:text-center my-2">
            <p class="text-3xl mt-2 xl:text-5xl font-bold tracking text-white">
                Canjea tus puntos
            </p>
            <p class="xl:text-3xl text-base font-bold  text-slate-950"> por cupones de descuentos en tus facturas.</p>
        </div>
        <div  *ngIf="contrato |async  as contrato"
            class="relative flex   bg-white xl:h-36 md:p-2 p-6 rounded-lg border border-gray-200 mb-4 lg:mb-0 shadow-md">
            <div class="flex justify-center items-center  font-mono">
                <div class="px-1">
                    <p>Puntos</p>
                    <h1 class="xl:text-6xl text-3xl  font-bold text-gray-600 font-mono">{{contrato.pts}}<span
                            class="text-sm">
                            Gigas</span> </h1>
                </div>

                <img src="../../../../../assets/img/MonedaPortal3.png" alt="puntos" class="h-20 md:h-20 w-38 ">
            </div>
            <div class="fixed right-14 xl:top-[10%] p-2 top-20" *ngIf="shopping$  |async as shopping;">
                <button class="p-2 rounded-full bg-green-600 text-white font-mono font-semibold mx-2 -mb-4"
                    (click)="showDialog()" matBadge="{{shopping}}">
                    <svg class="h-10 w-10" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path
                            d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z">
                        </path>
                    </svg></button>
                <ng-template #CERO>

                </ng-template>
            </div>
            <p-dialog header="RESUMEN" [(visible)]="visible" position="bottom" [breakpoints]="{ '960px': '75vw' }"
                [style]="{ width: '30vw' }" [draggable]="true" [resizable]="true" class="rounded-3xl">
                <app-dialogo-resumen-cupones [misCupones]="contrato.pts" (visible)="visible= $event"></app-dialogo-resumen-cupones>
            </p-dialog>
        </div>
        <img src="../../../../../assets/img/fidelizacion.png"
            alt="Imagen relacionada con el programa de fidelización" class="h-auto w-1/3 ">

    </div>
</div>
<div class="py-16 container mx-auto px-6 md:px-2">
    <ng-template #SinResultado>
        <div class="w-1/3">
            <div class="max-w-sm rounded overflow-hidden shadow-lg animate-pulse">
                <div class="h-48 bg-gray-300"></div>
                <div class="px-6 py-4">
                    <div class="h-6 bg-gray-300 mb-2"></div>
                    <div class="h-4 bg-gray-300 w-2/3"></div>
                </div>
                <div class="px-6 pt-4 pb-2">
                    <div class="h-4 bg-gray-300 w-1/4 mb-2"></div>
                    <div class="h-4 bg-gray-300 w-1/2"></div>
                </div>
            </div>
        </div>
        <div class="w-1/3">
            <div class="max-w-sm rounded overflow-hidden shadow-lg animate-pulse">
                <div class="h-48 bg-gray-300"></div>
                <div class="px-6 py-4">
                    <div class="h-6 bg-gray-300 mb-2"></div>
                    <div class="h-4 bg-gray-300 w-2/3"></div>
                </div>
                <div class="px-6 pt-4 pb-2">
                    <div class="h-4 bg-gray-300 w-1/4 mb-2"></div>
                    <div class="h-4 bg-gray-300 w-1/2"></div>
                </div>
            </div>
        </div>
        <div class="w-1/3">
            <div class="max-w-sm rounded overflow-hidden shadow-lg animate-pulse">
                <div class="h-48 bg-gray-300"></div>
                <div class="px-6 py-4">
                    <div class="h-6 bg-gray-300 mb-2"></div>
                    <div class="h-4 bg-gray-300 w-2/3"></div>
                </div>
                <div class="px-6 pt-4 pb-2">
                    <div class="h-4 bg-gray-300 w-1/4 mb-2"></div>
                    <div class="h-4 bg-gray-300 w-1/2"></div>
                </div>
            </div>
        </div>
    </ng-template>
    <section>
        <div class="grid xl:grid-cols-3 gap-4 grid-cols-1" *ngIf="campaing | async as campaing">
            <app-list-campaing *ngFor="let item of campaing" [campaing]="item"></app-list-campaing>
        </div>
    </section>
</div>
</div>