<h1 mat-dialog-title class="bg-red-500"><span class="text-slate-50 text-xl font-medium">Agregar ZELLE</span><a
    mat-dialog-close class="absolute top-1 right-0 p-2.5 text-sm font-medium  text-white rounded-r-lg cursor-pointer ">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"
      stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
    </svg>
    <span class="sr-only">Close</span>
  </a></h1>
<div mat-dialog-content>
  <div class="pt-8">
    <form class="grid grid-cols-1 gap-4" [formGroup]="myForm">
      <div>
        <label>Nombre</label>
        <div>
          <mat-form-field class="w-full">
            <input type="text" matInput  formControlName="name">
            <mat-icon matPrefix>person</mat-icon>
            <mat-error *ngIf="myForm.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div>
        <label>Titular del Zelle</label>
        <div>
          <mat-form-field class="w-full">
            <input type="text" matInput  formControlName="titular">
            <mat-icon matPrefix>person</mat-icon>
            <mat-error *ngIf="myForm.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
            <mat-hint class="text-xs">Colocar el mismo nombre que aparece en su cuenta de Zelle </mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div>
        <label>Correo electrónico</label>
        <div>
          <mat-form-field class="w-full">
            <input type="email" matInput formControlName="email">
            <mat-icon matPrefix>alternate_email</mat-icon>
            <mat-error *ngIf="myForm.hasError('email') && !myForm.hasError('required')">
              Por favor colocar un correo valido
            </mat-error>
            <mat-error *ngIf="myForm.hasError('required')">
              El correo es <strong>Obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    
    </form>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button class="block w-full mt-5" color="warn" [disabled]="myForm.invalid" (click)=" onSubmit()">{{data !=null ? 'Actualizar': 'Agregar'}}
    Zelle</button>
</div>