.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .build-image-animation {
    max-width: 80%; /* Ajusta el ancho máximo según sea necesario */
    display: block;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    animation: construct 4s ease-out forwards;
  }
  
  .transaction-message {
    margin-bottom: 20px;
    opacity: 0;
    animation: fadeIn 1s forwards;
  }
  
  @keyframes construct {
    0% {
      clip-path: polygon(0 0, 0 0, 0 0, 0 0); /* Comienza sin ninguna parte visible */
    }
    100% {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); /* Finaliza con la imagen completa */
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  